.navbar{
    height:10vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}
.navbar-logo{
    padding-left: 2rem;
    color: red;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    width: 10rem;
}
.nav-items{
display: flex;
text-align: center;
list-style: none;
flex: 1;
justify-content: flex-end;
margin-right: 2rem;
}
.nav-item {
  display: flex;
  align-items: center;
  height: 10vh;
}
.nav-item a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    margin-right: 2rem;
}
.jobs-submenu{
    z-index: 2;
    top: 80px;
    position: absolute;
    list-style: none;
    text-align: start;
    margin-left: 0; 
    padding-left: 0;
}
.jobs-submenu li{
    background-color: white;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.submenu-item a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 16px;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    margin-right: 2rem;
}
.jobs-submenu.clicked{
    display: none;
}