.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
.container{
    align-items: center;
    cursor: pointer;
    display: flex;
    width: 70rem;
    margin-bottom: 20px;
    box-shadow: 0 3px 2px -2px rgba(0,0,0,.2);
    height: 20vh;
    border-radius: 3rem;
}
.container:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.c-logo{
    border-radius: 3rem;
}
.l-container{
    padding-left: 10vw;
    flex: 4;
    justify-content: flex-start;
}
.r-container{
    flex: 1;
}
.c-title{
    color: rgb(153, 169, 177);
}