.template{
    margin-top: 10px;
    display: flex;
    padding-bottom: 20px;
}
.temp-left{
    float: left;
    margin-top: 70px;
    margin-left: 50px;
    /* margin-right: 60px; */
    flex: 3;
}
.temp-right {
  display: flex;
  flex: 1;
  width: 750px;
  position: relative;
  height: 500px;
  margin-right: 2rem;
  justify-content: flex-end;
}
.corp-bg-img {
  height: 500px;
  width: 750px;
  justify-content: flex-end;
  z-index: 1;
}

.corp-img {
  height: 500px;
  width: 750px;
  position: absolute;
  right: 0;
  top: 0;
  transform: scaleX(-1);
  justify-content: flex-end;
  z-index: 2;
}

.t-l-text{
    font-size: 8vh;
    font-weight: bold;
}
.text-blue{
    color: red;
}
.description{
    margin-top: 20px;
    font-size: 20px;
}
.top-jobs-title{
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 60px;
    font-size: 55px;;
}
.trending-jobs{
    position: relative;
    margin-top: 20px;
}
.home{
    padding-bottom: 20px;
}
@media screen {
    
}